*{
  margin: 0;
  padding: 0;
}
/**Main Layout start**/

.main{
  max-width: 400px;
  margin: auto;
  height: 100vh;

}
h2{
  text-align: center;
}
/**Header Start**/
header{
  position: fixed;
  top: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  margin: auto;
  justify-content: space-around;
  width: 400px;
  height: 55px;
  align-items: center;

}

/**Header End**/


/**Main Layout start**/

/**Bottom Navbar start**/
nav{
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 400px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  overflow-x: auto;
  margin: auto;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}


.nav_link{
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 12px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.1s ease-in-out;
  cursor: pointer;


}



.icon{
  position: relative;
  color: black;
  font-size: 15px;
  margin: auto;
  transition: all .25s ease;
}

.nav_link:hover{
  background: #eeeeee;
  padding: 12px;

}
/**Bottom Navbar bottom**/